<% layout('admin/layouts/boilerplate') -%>

    <!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- ============================================================== -->
    <div class="main-content">

        <div class="page-content">
            <div class="container-fluid">

                <!-- start page title -->
                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                            <h4 class="mb-sm-0">Vehicles</h4>

                            <div class="page-title-right">
                                <ol class="breadcrumb m-0">
                                    <li class="breadcrumb-item"><a href="javascript: void(0);">Dashboard</a></li>
                                    <li class="breadcrumb-item active">Edit Vehicle</li>
                                </ol>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- end page title -->

                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <br>
                                <h2 class="card-title">Edit vehicle</h4>
                                    <br>
                                    <form method="post" action="/admin/edit_vehicle/<%= listing._id %>">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="mb-3">
                                                    <label for="validationCustom01" class="form-label">Vehicle
                                                        name</label>
                                                    <input type="text" name="name" class="form-control"
                                                        id="validationCustom01" placeholder="Vehicle name"
                                                        value="<%= listing.name %>" required>
                                                    <div class="valid-feedback">
                                                        Looks good!
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="mb-3">
                                                    <label for="validationCustom02" class="form-label">Model
                                                        name</label>
                                                    <input type="text" name="model" class="form-control"
                                                        id="validationCustom02" placeholder="model name"
                                                        value="<%= listing.model %>" required>
                                                    <div class="valid-feedback">
                                                        Looks good!
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="mb-3">
                                                    <label for="validationCustom03" class="form-label">Category</label>
                                                    <select class="form-select" name="body_type" id="validationCustom03"
                                                        required>
                                                        <option value="">Choose</option>
                                                        <option value="Bike" selected>
                                                            <%= listing.category %>
                                                        </option>
                                                        <option value="Bike">Car</option>
                                                    </select>
                                                    <div class="invalid-feedback">
                                                        Please select a valid category.
                                                    </div>

                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="mb-3">
                                                    <label for="validationCustom03" class="form-label">Breand</label>
                                                    <select class="form-select" value="<%= listing.brand %>"
                                                        name="brand" id="validationCustom03" required>
                                                        <option value="">Choose</option>
                                                        <option value="Tata">TATA</option>
                                                        <option value="TVS">TVS</option>
                                                        <option value="Hundai">Hundai</option>
                                                        <option value="Yamaha">Yamaha</option>
                                                        <option value="Hero">Hero</option>
                                                        <option value="Bajaj">Bajaj</option>
                                                        <option value="Royal Enfield">Royel Enfield</option>
                                                        <option value="Sujuki">Sujuki</option>
                                                    </select>
                                                    <div class="invalid-feedback">
                                                        Please select a valid Brand.
                                                    </div>

                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <div class="mb-3">
                                                    <label for="validationCustom03" class="form-label">Body
                                                        type</label>
                                                    <select class="form-select" value="<%= listing.bodyType %>"
                                                        name="bodyType" id="validationCustom03" required>
                                                        <option value="">Choose</option>
                                                        <option value="Motorcycles">Motorcycles</option>
                                                        <option value="Hatchback">Hatchback</option>
                                                        <option value="Sedan">Sedan</option>
                                                        <option value="SUV">SUV</option>
                                                        <option value="Minivan">Minivan</option>
                                                        <option value="MUV">MUV</option>
                                                    </select>
                                                    <div class="invalid-feedback">
                                                        Please select a valid category.
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="mb-3">
                                                    <label for="validationCustom03" class="form-label">Fule
                                                        type</label>
                                                    <select class="form-select" name="fuelType" id="validationCustom03"
                                                        required>
                                                        <option value="">Choose</option>
                                                        <option value="patrol" selected>
                                                            <%= listing.fuelType %>
                                                        </option>
                                                        <option value="diesel">Diesel</option>
                                                        <option value="cng">CNG</option>
                                                        <option value="ev">EV</option>
                                                    </select>
                                                    <div class="invalid-feedback">
                                                        Please select a valid category.
                                                    </div>

                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="mb-3">
                                                    <label for="validationCustom02" class="form-label">Buying
                                                        Year</label>
                                                    <input type="number" name="buying" class="form-control"
                                                        id="validationCustom02" placeholder="Buying Year"
                                                        value="<%= listing.buying %>" required>
                                                    <div class="valid-feedback">
                                                        Looks good!
                                                    </div>

                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <div class="mb-3">
                                                    <label for="validationCustom02" class="form-label">kilometre
                                                        Driven</label>
                                                    <input type="number" name="kms" class="form-control"
                                                        id="validationCustom02" placeholder="kilometre Driven"
                                                        value="<%= listing.kms %>" required>
                                                    <div class="valid-feedback">
                                                        Looks good!
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="mb-3">
                                                    <label for="validationCustom02" class="form-label">Price</label>
                                                    <input type="number" name="price" class="form-control"
                                                        id="validationCustom02" placeholder="Enter Price"
                                                        value="<%= listing.price %>" required>
                                                    <div class="valid-feedback">
                                                        Looks good!
                                                    </div>

                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="mb-3">
                                                    <label for="validationCustom02" class="form-label">Primary
                                                        Image Url</label>
                                                    <div class="input-group">
                                                        <input type="text" name="image" value="<%= listing.image %>"
                                                            class="form-control" id="customFile" multiple>

                                                    </div>
                                                </div>
                                            </div>


                                            <div class="col-md-6">
                                                <div class="mb-3">
                                                    <label for="validationCustom02" class="form-label">Additional
                                                        Image Url</label>
                                                    <div class="input-group">
                                                        <input type="text" name="moreImages" placeholder="Image Url One"
                                                            class="form-control" multiple>
                                                        <button type="button"
                                                            class="btn btn-secondary addImageField">+</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- Container to hold dynamically added image fields -->
                                        <div id="imageFieldsContainer"></div>

                                        <div class="row">
                                            <div class="col-12">
                                                <div class="mb-3">
                                                    <label for="validationCustom02" class="form-label">Vehicle
                                                        description</label>
                                                    <textarea type="text" class="form-control" name="description"
                                                        id="exampleFormControlTextarea1" rows="3"></textarea>
                                                </div>
                                            </div>
                                        </div>

                            </div>
                            <br>

                            <div>

                                <input class="btn btn-primary" type="submit" value="Update">
                            </div>
                            </form>
                        </div>
                    </div>
                </div> <!-- end col -->
            </div>
            <!-- end row -->
        </div>
    </div>
    <!-- End Page-content -->

    <footer class="footer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-6">
                    <script>document.write(new Date().getFullYear())</script> © Dream X Car & Bike sale.
                </div>
                <div class="col-sm-6">
                    <div class="text-sm-end d-none d-sm-block">
                        Designe and Developed by
                    </div>
                </div>
            </div>
        </div>
    </footer>

    </div>
    <!-- end main content-->