<% layout('admin/layouts/boilerplate') -%>


    <!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- ============================================================== -->
    <div class="main-content">

        <div class="page-content">
            <div class="container-fluid">

                <!-- start page title -->
                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                            <h4 class="mb-sm-0">Users</h4>

                            <div class="page-title-right">
                                <ol class="breadcrumb m-0">
                                    <li class="breadcrumb-item"><a href="javascript: void(0);">Dashboard</a></li>
                                    <li class="breadcrumb-item active">Users</li>
                                </ol>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- end page title -->

                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">

                                <br>
                                <h4 class="card-title">All User</h4>

                                <br>

                                <table id="datatable" class="table table-bordered dt-responsive nowrap"
                                    style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                                    <thead>
                                        <tr>
                                            <th>UserID#</th>
                                            <th>Name</th>
                                            <th>Phone</th>
                                            <th>Email</th>
                                            <th>Location</th>
                                            <th>State</th>
                                            <th>City</th>
                                            <th>District</th>
                                            <th>Zip</th>
                                        </tr>
                                    </thead>


                                    <tbody>
                                        <% for(let user of allUser) { %>
                                            <tr>
                                                <td>
                                                    <%= user._id %>
                                                </td>
                                                <td>
                                                    <%= user.displayName %>
                                                </td>
                                                <td>
                                                    <%= user.phoneNumber %>
                                                </td>
                                                <td>
                                                    <%= user.email %>
                                                </td>
                                                <td>
                                                    <%= user.userAddress %>
                                                </td>
                                                <td>
                                                    <%= user.State %>
                                                </td>
                                                <td>
                                                    <%= user.city %>
                                                </td>
                                                <td>
                                                    <%= user.district %>
                                                </td>
                                                <td>
                                                    <%= user.pinCode %>
                                                </td>
                                            </tr>
                                            <% } %>
                                                <tr>
                                                    <td>us002</td>
                                                    <td>Bishal Acharjee</td>
                                                    <td>8831257865</td>
                                                    <td>bishal03@gmail.com</td>
                                                    <td>Dhajanagar Udaipur, Tripura</td>
                                                    <td>Tripura</td>
                                                    <td>Udaipur</td>
                                                    <td>Gomati</td>
                                                    <td>799114</td>
                                                </tr>
                                                <tr>
                                                    <td>us003</td>
                                                    <td>Atanu Datta</td>
                                                    <td>7004568932</td>
                                                    <td>atanudatta009@gmail.com</td>
                                                    <td>Ramnagar Agartala, Tripura</td>
                                                    <td>Tripura</td>
                                                    <td>Agartala</td>
                                                    <td>West</td>
                                                    <td>799005</td>
                                                </tr>
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div> <!-- end col -->
                </div> <!-- end row -->



            </div> <!-- container-fluid -->
        </div>
        <!-- End Page-content -->

        <footer class="footer">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-6">
                        <script>document.write(new Date().getFullYear())</script> © Dream X Car & Bike sale.
                    </div>
                    <div class="col-sm-6">
                        <div class="text-sm-end d-none d-sm-block">
                            Designe and Developed by
                        </div>
                    </div>
                </div>
            </div>
        </footer>

    </div>
    <!-- end main content-->