<% layout('admin/layouts/boilerplate') -%>

    <!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- ============================================================== -->
    <div class="main-content">

        <div class="page-content">
            <div class="container-fluid">

                <!-- start page title -->
                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                            <h4 class="mb-sm-0">Vehicles</h4>

                            <div class="page-title-right">
                                <ol class="breadcrumb m-0">
                                    <li class="breadcrumb-item"><a href="javascript: void(0);">Dashboard</a></li>
                                    <li class="breadcrumb-item active">Edit Vehicle</li>
                                </ol>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- end page title -->

                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <br>
                                <h2 class="card-title">Edit vehicle</h4>
                                    <br>
                                    <form method="post" action="/admin/edit_vehicle/<%= listing._id %>"
                                        enctype="multipart/form-data">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="mb-3">
                                                    <label for="validationCustom01" class="form-label">Vehicle
                                                        name</label>
                                                    <input type="text" name="name" class="form-control"
                                                        id="validationCustom01" placeholder="Vehicle name"
                                                        value="<%= listing.name %>" required>
                                                    <div class="valid-feedback">
                                                        Looks good!
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="mb-3">
                                                    <label for="validationCustom02" class="form-label">Model
                                                        name</label>
                                                    <input type="text" name="model" class="form-control"
                                                        id="validationCustom02" placeholder="model name"
                                                        value="<%= listing.model %>" required>
                                                    <div class="valid-feedback">
                                                        Looks good!
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="mb-3">
                                                    <label for="validationCustom03" class="form-label">Category</label>
                                                    <select class="form-select" name="category" id="validationCustom03"
                                                        required>
                                                        <option value="<%= listing.category %>">Choose</option>
                                                        <option value="Bike" <%=listing.category==='Bike' ? 'selected'
                                                            : '' %>>Bike</option>
                                                        <option value="Car" <%=listing.category==='Car' ? 'selected'
                                                            : '' %>>Car</option>
                                                    </select>
                                                    <div class="invalid-feedback">
                                                        Please select a valid category.
                                                    </div>

                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="mb-3">
                                                    <label for="validationCustom03" class="form-label">Breand</label>
                                                    <select class="form-select" name="brand" id="validationCustom03"
                                                        required>
                                                        <option value="<%= listing.brand %>">Choose</option>
                                                        <option value="Tata" <%=listing.brand==='Tata' ? 'selected' : ''
                                                            %>>TATA</option>
                                                        <option value="TVS" <%=listing.brand==='TVS' ? 'selected' : ''
                                                            %>>TVS</option>
                                                        <option value="Hundai" <%=listing.brand==='Hundai' ? 'selected'
                                                            : '' %>>Hundai</option>
                                                        <option value="Yamaha" <%=listing.brand==='Yamaha' ? 'selected'
                                                            : '' %>>Yamaha</option>
                                                        <option value="Hero" <%=listing.brand==='Hero' ? 'selected' : ''
                                                            %>>Hero</option>
                                                        <option value="Bajaj" <%=listing.brand==='Bajaj' ? 'selected'
                                                            : '' %>>Bajaj</option>
                                                        <option value="Royal Enfield" <%=listing.brand==='Royal Enfield'
                                                            ? 'selected' : '' %>>Royel Enfield</option>
                                                        <option value="Sujuki" <%=listing.brand==='Sujuki' ? 'selected'
                                                            : '' %>>Sujuki</option>
                                                    </select>
                                                    <div class="invalid-feedback">
                                                        Please select a valid Brand.
                                                    </div>

                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <div class="mb-3">
                                                    <label for="validationCustom03" class="form-label">Body
                                                        type</label>
                                                    <select class="form-select" name="bodyType" id="validationCustom03"
                                                        required>
                                                        <option value="<%= listing.bodyType %>">Choose</option>
                                                        <option value="Motorcycles" <%=listing.bodyType==='Motorcycles'
                                                            ? 'selected' : '' %>>Motorcycles</option>
                                                        <option value="Hatchback" <%=listing.bodyType==='Hatchback'
                                                            ? 'selected' : '' %>>Hatchback</option>
                                                        <option value="Sedan" <%=listing.bodyType==='Sedan' ? 'selected'
                                                            : '' %>>Sedan</option>
                                                        <option value="SUV" <%=listing.bodyType==='SUV' ? 'selected'
                                                            : '' %>>SUV</option>
                                                        <option value="Minivan" <%=listing.bodyType==='Minivan'
                                                            ? 'selected' : '' %>>Minivan</option>
                                                        <option value="MUV" <%=listing.bodyType==='MUV' ? 'selected'
                                                            : '' %>>MUV</option>
                                                    </select>
                                                    <div class="invalid-feedback">
                                                        Please select a valid category.
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="mb-3">
                                                    <label for="validationCustom03" class="form-label">Fule
                                                        type</label>
                                                    <select class="form-select" name="fuelType" id="validationCustom03"
                                                        required>
                                                        <option value="<%= listing.fuelType %>">
                                                            <%= listing.fuelType %>
                                                        </option>
                                                        <option value="patrol">
                                                            Patrol
                                                        </option>
                                                        <option value="diesel">Diesel</option>
                                                        <option value="cng">CNG</option>
                                                        <option value="ev">EV</option>
                                                    </select>
                                                    <div class="invalid-feedback">
                                                        Please select a valid category.
                                                    </div>

                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="mb-3">
                                                    <label for="validationCustom02" class="form-label">Buying
                                                        Year</label>
                                                    <input type="number" name="buying" class="form-control"
                                                        id="validationCustom02" placeholder="Buying Year"
                                                        value="<%= listing.buying %>" required>
                                                    <div class="valid-feedback">
                                                        Looks good!
                                                    </div>

                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <div class="mb-3">
                                                    <label for="validationCustom02" class="form-label">kilometre
                                                        Driven</label>
                                                    <input type="number" name="kms" class="form-control"
                                                        id="validationCustom02" placeholder="kilometre Driven"
                                                        value="<%= listing.kms %>" required>
                                                    <div class="valid-feedback">
                                                        Looks good!
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="mb-3">
                                                    <label for="validationCustom02" class="form-label">Price</label>
                                                    <input type="number" name="price" class="form-control"
                                                        id="validationCustom02" placeholder="Enter Price"
                                                        value="<%= listing.price %>" required>
                                                    <div class="valid-feedback">
                                                        Looks good!
                                                    </div>

                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="mb-3">
                                                    <label for="validationCustom02" class="form-label">Primary
                                                        Image</label>
                                                    <div class="input-group">
                                                        <input type="file" name="images" value="<%= listing.image %>"
                                                            class="form-control" id="customFile" multiple>

                                                    </div>
                                                </div>
                                            </div>


                                            <div class="col-md-6">
                                                <div class="mb-3">
                                                    <label for="validationCustom02" class="form-label">Additional
                                                        Image</label>
                                                    <div class="input-group">
                                                        <input type="file" name="moreImages" placeholder="Image Url One"
                                                            class="form-control" multiple>
                                                        <button type="button"
                                                            class="btn btn-secondary addImageField">+</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- Container to hold dynamically added image fields -->
                                        <div id="imageFieldsContainer"></div>

                                        <div class="row">
                                            <div class="col-12">
                                                <div class="mb-3">
                                                    <label for="validationCustom02" class="form-label">Vehicle
                                                        description</label>
                                                    <textarea type="text" class="form-control" name="description"
                                                        id="exampleFormControlTextarea1"
                                                        rows="3"> <%= listing.description %></textarea>
                                                </div>
                                            </div>
                                        </div>

                            </div>
                            <br>

                            <div>

                                <input class="btn btn-primary" type="submit" value="Update">
                            </div>
                            </form>
                        </div>
                    </div>
                </div> <!-- end col -->
            </div>
            <!-- end row -->
        </div>
    </div>
    <!-- End Page-content -->

    <footer class="footer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-6">
                    <script>document.write(new Date().getFullYear())</script> © Dream X Car & Bike sale.
                </div>
                <div class="col-sm-6">
                    <div class="text-sm-end d-none d-sm-block">
                        Designe and Developed by
                    </div>
                </div>
            </div>
        </div>
    </footer>

    </div>
    <!-- end main content-->